@import "reset.css";
@import "variables.css";

/* component */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/alt-screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/icon-raw.css";
@import "components/no-mobile.css";

/* screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/seettings.css";
@import "screens/chat.css";
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.main-screen {
  padding: 0px var(--horizontal-space);
  margin-top: 15px;
}
.screen__notification {
  display: block;
  margin-top: 8px;
  background-color: tomato;
  color: white;
  text-align: center;
}
.screen-header__icons__find {
  width: 5px;
  height: 5px;
  border: tomato;
  background-color: tomato;
  position: absolute;
  bottom: 23px;
  left: 53px;
  border-radius: 3px;
}

.screen-header__icons__find1 {
  width: 5px;
  height: 5px;
  border: tomato;
  background-color: tomato;
  position: absolute;
  bottom: 23px;
  left: 92px;
  border-radius: 3px;
}

.screen-header__icons__find-fr {
  width: 5px;
  height: 5px;
  border: tomato;
  background-color: tomato;
  position: absolute;
  bottom: 23px;
  left: 85px;
  border-radius: 3px;
}

.screen-header__icons__find-ch {
  width: 5px;
  height: 5px;
  border: tomato;
  background-color: tomato;
  position: absolute;
  bottom: 23px;
  left: 128px;
  border-radius: 3px;
}
